<head>
	<title>Salspot - Software Development NodeJS React Angular React-Native</title>
	<meta name="keywords" content="salspot, Node.js developer, React, Angular, React-Native, Ionic, Outsourcing">
	<meta name="description" content="Salspot - Software Development with the best technologies: NodeJS, React, Angular, React-Native">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="_mKwkYIdOcHZb-SoYO1OMVVCiX4wq2m4YzXHEGyjrTc" />
	<meta property="og:title" content="Developing web and mobile apps - Software Development and Testing | NodeJS, React, Angular, React-Native" />
	<meta property="og:description" content="Experts in building successful web and mobile apps - Software Development and Software Testing Services using modern technologies like: NodeJS, React, Angular, React-Native" />
	<meta property="og:url" content="https://www.salspot.com" />
	<meta property="og:image" content="/img/facebook-banner.png" />
	<meta name="robots" content="noodp,noydir" />
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	
	<link href="/css/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>