<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="_mKwkYIdOcHZb-SoYO1OMVVCiX4wq2m4YzXHEGyjrTc" />
	<meta name="description" content="Experts in building successful web and mobile apps - Software Development and Software Testing">






	<meta property="og:title" content="Salspot Software - Quality Development and Testing Services" />
	<meta property="og:description" content="Experts in building successful web and mobile apps" />
	<meta property="og:url" content="https://www.salspot.com" />
	<meta property="og:image" content="/img/facebook-banner.png" />

	<link rel="canonical" href="https://www.salspot.com"/>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">


	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Salspot Software</title>
	<!-- Bootstrap Css -->
	<link href="/css/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Normalize Css -->
	<!--<link href="/css/assets/Normalize/normalize.css" rel="stylesheet">-->
	<!--Font Awesome Css-->
	<link href="/css/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!--Linear icon Css-->
	<link href="/css/assets/linearicons/css/icon-font.min.css" rel="stylesheet">
	<!--Animate Css-->
	<link href="/css/assets/animate/animate.css" rel="stylesheet">
	<!--Animate headline css-->
	<link href="/css/assets/cd-intro/headline.css" rel="stylesheet">
	<!--Owl carousel css-->
	<link href="/css/assets/owlcarousel/css/owl.carousel.css" rel="stylesheet">
	<link href="/css/assets/owlcarousel/css/owl.theme.css" rel="stylesheet">
	<!--Portfolio Css-->
	<link href="/css/assets/css/ionicons.min.css" rel="stylesheet">
	<link href="/css/assets/css/magnific-popup.css" rel="stylesheet">
	<!--Slicknav Css-->
	<link href="/css/assets/slicknav/slicknav.css" rel="stylesheet">
	<!--Custum Css-->
	<link href="/css/style.css" rel="stylesheet">
	<!--Responsive Css-->
	<link href="/css/responsive.css" rel="stylesheet">
	<!--Modernizr Js-->
	<script src="/js/vendor/modernizr-3.5.0.min.js"></script>


</head>