<!--Header-->
<header id="home">
	<div class="header-top-area">
		<div class="container">
			<div class="row nav-content">
				<div class="col-md-3">
					<!-- START LOGO -->
					<div class="logo"><a href="index.html">salspot software</a></div>
					<!-- END LOGO -->
					<div class="mobile-nav"></div>
				</div>
				<div class="col-md-9">
					<!-- START MAIN MENU -->
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header"></div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse">
							<div class="navigation">
								<ul class="nav navbar-nav">
									<li><a href="#home">Home</a>
									</li>
									<li><a href="#">Pages</a>
										<ul class="drop-down">
											<li><a href="about-1.html">About Us-1</a></li>
										</ul>
									</li>
									<li><a href="#">Portfolio</a>
										<ul class="drop-down">
											<li><a href="portfolio-one.html">Portfolio-one</a></li>
											<li><a href="portfolio-one.html">Portfolio-one</a></li>
											<li><a href="portfolio-one.html">Portfolio-one</a></li>
										</ul>
									</li>
									<li><a href="contact-us.html">Contact Us</a></li>
								</ul>
							</div>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
					<!-- END MAIN MENU -->
				</div>
			</div>
		</div>
	</div>
	<!-- Start Animated headline area -->
	<div class="home-slider-area">
		<div class="slider-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="slider-sec-text">
							<div class="cd-intro">
								<h3 class="color-w font-28 txt-lft pb-10 ltr-s-4"><span class="color">Mobile</span> and
									<span class="color">Web</span> products</h3>
								<h3 class="color-w font-28 txt-lft pb-10 ltr-s-4">From user stories to market</h3>
								<h3 class="cd-headline clip is-full-width font-40 color-w font-w-8 txt-lft ptb-5"><span>We are your trusted </span>
									<span class="cd-words-wrapper"> <b class="is-visible">Team</b> <b>Partner</b> <b>Business</b> </span>
								</h3>
								<a class="btn-two pull-left" href="#">View More</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Animated headline area -->
</header>
<div class="clearfix"></div>
<div id="loader"></div>
