<!--Header-->
<header id="home">
	<div class="header-top-area">
		<div class="container">
			<div class="row nav-content">
				<div class="col-md-3">
					<!-- START LOGO -->
					<div class="logo"><a href="https://www.salspot.com">salspot software</a></div>
					<!-- END LOGO -->
					<div class="mobile-nav"></div>
				</div>
				<div class="col-md-9">
					<!-- START MAIN MENU -->
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header"></div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse">
							<div class="navigation">
								<ul class="nav navbar-nav">
									<li><a href="/">Home</a>
									</li>
									<!--<li><a href="#">Careers</a>-->
									<!--</li>-->
									<li><a href="#contact-us">Contact Us</a></li>
								</ul>
							</div>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
					<!-- END MAIN MENU -->
				</div>
			</div>
		</div>
	</div>
	<div class="home-slider-area">
		<div class="slider-sec">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="slider-sec-text">
							<div class="cd-intro">
								<h1 class="cd-headline clip is-full-width font-40 color-b font-w-8 txt-lft ptb-5">
										Mobile and Web Software	Development</h1>
								<h3 class="color-w font-28 txt-lft pb-10">Customized IT Solutions</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Animated headline area -->
	</div>
</header>
<div class="clearfix"></div>
