<section id="portfolio" class="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="font-w-8">Projects we worked on</h2>
					<!--<p class="font-w-6">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>-->
				</div>
				<!-- Portfolio Filters -->
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<!--<ul class="portfolio-filter center mtb-20">-->
								<!--<li class="filter active" data-filter="*">All</li>-->
								<!--<li class="filter" data-filter=".wordpress">Wordpress</li>-->
								<!--<li class="filter" data-filter=".jquery">jQuery</li>-->
								<!--<li class="filter" data-filter=".php">PHP</li>-->
								<!--<li class="filter" data-filter=".css">CSS</li>-->
								<!--<li class="filter" data-filter=".html">HTML</li>-->
							<!--</ul>-->
							<!-- /Portfolio Filters -->
							<!-- Portfolio Wrap -->
							<div class="row portfolio-container">
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work php"> <a href="#work_id-1"> <img src="/img/clients/gnome-background.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Gnome by Groupon</h2>
											<p>QA Manual/Automation</p>
											<i class="fa fa-search"></i> </div>
									</div>
								</a>
									<div id="work_id-1" class="mfp-hide work-popup"> <img src="/img/gallery-img1.jpg" alt=""> </div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work wordpress"> <a href="#work_id-2"> <img src="/img/clients/time-to-eat-background.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Time to Eat</h2>
											<p>NodeJS, Ionic and Angular</p>
											<i class="fa fa-search"></i> </div>
									</div>
								</a>
									<div id="work_id-2" class="mfp-hide work-popup"> <img src="/img/gallery-img2.jpg" alt=""> </div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work jquery"> <a href="#work_id-3"> <img src="/img/clients/food-waste-combat-background.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Food Waste Combat</h2>
											<p>Netlify CMS/ JAM Stack</p>
											<i class="fa fa-search"></i> </div>
									</div>
								</a>
									<div id="work_id-3" class="mfp-hide work-popup"> <img src="/img/gallery-img3.jpg" alt=""> </div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work php"> <a href="#work_id-4"> <img src="/img/clients/facultati-info-logo-background-small.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Facultati Info</h2>
											<p>Angular, NodeJS, MongoDB</p>
											<i class="fa fa-search"></i> </div>
									</div>
								</a>
									<div id="work_id-4" class="mfp-hide work-popup"> <img src="/img/gallery-img4.jpg" alt=""> </div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work css"> <a href="#work_id-5"> <img src="/img/clients/admin-tool-background-small.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Admin tool for mobile app</h2>
											<p>React, NodeJS</p>
											<i class="fa fa-search"></i> </div>
									</div>
								</a>
									<div id="work_id-5" class="mfp-hide work-popup"> <img src="/img/gallery-img5.jpg" alt=""> </div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work html"> <a href="#work_id-6"> <img src="/img/clients/pubs-background.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Pubs App</h2>
											<p>React Native, NodeJS, Mysql</p>
											<i class="fa fa-search"></i> </div>
									</div>
								</a>
									<div id="work_id-6" class="mfp-hide work-popup"> <img src="/img/gallery-img6.jpg" alt=""> </div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12 work html"> <a href="#work_id-7"> <img src="/img/clients/eatz-background.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Eatz</h2>
											<p>Ionic, NodeJS, MongoDB</p>
											<i class="fa fa-search"></i> </div>
									</div>
								</a>
									<div id="work_id-7" class="mfp-hide work-popup"> <img src="/img/gallery-img3.jpg" alt=""> </div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12 work html"> <a href="#work_id-8"> <img src="/img/clients/email-notifier-background-big-case.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Mail Notifier</h2>
											<p>NodeJS, MongoDB</p>
											<i class="fa fa-search"></i> </div>
									</div>
								</a>
									<div id="work_id-8" class="mfp-hide work-popup"> <img src="/img/gallery-img1.jpg" alt=""> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Portfolio Wrap -->
</section>
<div class="clearfix"></div>