<section id="portfolio" class="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="font-w-8">Projects we worked on</h2>
				</div>
				<!-- Portfolio Filters -->
				<div class="container">
					<div class="row">
						<div class="col-sm-12">

							<div class="row portfolio-container">
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work php"> <img
										src="/img/clients/gnome-background.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Gnome by Groupon</h2>
											<p>QA Manual/Automation</p>
											<i class="fa fa-search"></i></div>
									</div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work wordpress"> <img
										src="/img/clients/time-to-eat-background.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Time to Eat</h2>
											<p>NodeJS, Ionic and Angular</p>
											<i class="fa fa-search"></i></div>
									</div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work jquery"> <img
										src="/img/clients/food-waste-combat-background.png" class="img-responsive"
										alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Food Waste Combat</h2>
											<p>Netlify CMS/ JAM Stack</p>
											<i class="fa fa-search"></i></div>
									</div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work php"> <img
										src="/img/clients/facultati-info-logo-background-small.png"
										class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Facultati Info</h2>
											<p>Angular, NodeJS, MongoDB</p>
											<i class="fa fa-search"></i></div>
									</div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work css"><img
										src="/img/clients/admin-tool-background-small.png" class="img-responsive"
										alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Admin tool for mobile app</h2>
											<p>React, NodeJS</p>
											<i class="fa fa-search"></i></div>
									</div>
								</div>
								<!-- single portfolio -->
								<div class="col-md-3 col-sm-6 col-xs-12 work html"><img
										src="/img/clients/pubs-background.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Pubs App</h2>
											<p>React Native, NodeJS, Mysql</p>
											<i class="fa fa-search"></i></div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12 work html"><img
										src="/img/clients/eatz-background.png" class="img-responsive" alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Eatz</h2>
											<p>Ionic, NodeJS, MongoDB</p>
											<i class="fa fa-search"></i></div>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-12 work html"><img
										src="/img/clients/email-notifier-background-big-case.png" class="img-responsive"
										alt="">
									<div class="work-inner">
										<div class="work-info">
											<h2>Mail Notifier</h2>
											<p>NodeJS, MongoDB</p>
											<i class="fa fa-search"></i></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Portfolio Wrap -->
</section>
<div class="clearfix"></div>