<section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix" style="height: 600px;">
	<div class="swiper-container swiper-parent">
		<div class="swiper-wrapper">
			{{range .sliderImages}}
			<div class="swiper-slide" style="background-image: url('{{.}}');">
				<h1 class="slider-title">{{$.title}}</h1>
			</div>
			{{end}}
		</div>
		<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
		<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
	</div>
</section>