<div class="section dark nomargin noborder" style="height: 550px;">
    <div class="container-fluid vertical-middle center clearfix">
        <i class="i-plain i-large icon-line-video divcenter" data-animate="fadeInDown"></i>
        <div class="emphasis-title nomargin" data-animate="fadeInUp">
            <h2 style="font-size: 56px;">{{.title | markdownify}}</h2>
        </div>
    </div>
    <div class="video-wrap">
        <video poster="/img/videos/explore.jpg" preload="auto" loop autoplay muted>
            <source src='{{.video}}' type='video/mp4' />
        </video>
        <div class="video-overlay"></div>
    </div>
</div>