<!doctype html>
<html lang="en" style="scroll-behavior: smooth!important;">
  {{ partial "head" . }}
  <body>
    {{ partial "nav" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}
  </body>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128278177-1"></script>
  <script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-128278177-1');
  </script>

