{{ define "main" }}
<!-- Pre Loader -->
<link rel="canonical" href="https://www.salspot.com"/>

<section id="who-we-are" class="who-we-are">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="font-w-8 center ptb-20">WHO WE ARE</h2>
				<h3 class="font-w-6 center">We build successful <span class="color">web</span> and <span class="color">mobile</span>
					apps from idea to product</h3>
				<div class="ab-sec ptb-20">
					<div class="col-md-3 center"><i class="fa fa-code font-40 p-20 color"></i>
						<h4 class="font-22 pb-10"><a href="#">Backend</a></h4>
						<p class="font-w-6 ln-h-23">Bringing light into backend using clean code techniques,
							microservices and cloud based systems.</p>
					</div>
					<div class="col-md-3 center"><i class="fa fa-desktop font-40 p-20 color"></i>
						<h4 class="font-22 pb-10"><a href="#">Web</a></h4>
						<p class="font-w-6 ln-h-23">Using the latest technologies we built web apps. Quality and and
							reliability is our top priority </p>
					</div>
					<div class="col-md-3 center"><i style="padding:10px!important;font-size:60px!important"
																					class="fa fa-mobile font-40 p-20 color"></i>
						<h4 class="font-22 pb-10"><a href="#">Mobile</a></h4>
						<p class="font-w-6 ln-h-23">Awesome built with mobile apps native or hybrid technologies to
							build a fluid mobile experience</p>
					</div>
					<div class="col-md-3 center"><i class="fa fa-code-fork font-40 p-20 color"></i>
						<h4 class="font-22 pb-10"><a href="#">QA</a></h4>
						<p class="font-w-6 ln-h-23">We provide solutions for manual and automation testing: Web, Mobile
							and Backend</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="clearfix"></div>

<div class="color-bg-b center">
	<div class="container">
		<div class="col-md-12">
			<div class="row">
				<div class="image-content p-30">
					<h2 class="text-center ln-h-50 color-w font-w-8">Mobile and Web Apps Start-to-End<br></h2>
					<a class="btn-two" href="#contact-us">Tell us about your project</a></div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<!--Features start-->
<section id="features" class="features">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title ptb-20">
					<h2 class="font-w-8">Our <span class="color">Tech</span>nology Stack</h2>
					<p class="font-w-6">we expand our tech stack with every new project</p>
				</div>
				<div class="section">
					<!-- Single Feature Start -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="feat p-25 bx-shadow"><i class="fa fa-code font-45"></i>
							<h5 class="font-20 pt-15">Backend</h5>
							<h6 class="font-13 font-w-6">
								<ul>
									<li>- Node.js, Java, Python</li>
									<li>- Scalable Architecture</li>
									<li>- Microservices</li>
									<li>- AWS, Heroku, Azure & DevOps</li>
									<li>- Typescript & Clean Code</li>
								</ul>
							</h6>
						</div>
					</div>
					<!-- Single Feature End -->
					<!-- Single Feature Start -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="feat p-25 bx-shadow active"><i class="fa fa-desktop  font-45"></i>
							<h5 class="font-20 pt-15">Web Development</h5>
							<h6 class="font-13 font-w-6">
								<ul>
									<li>- Angular, React, Vue.js</li>
									<li>- SEO optimization</li>
									<li>- Server Side Rendering</li>
									<li>- Mobile First, Responsive</li>
									<li>- Progressive Web Apps</li>
								</ul>
							</h6>
						</div>
					</div>
					<!-- Single Feature End -->
					<!-- Single Feature Start -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="feat p-25 bx-shadow"><i style="margin-top: -10px;font-size:60px!important" class="fa fa-mobile font-45"></i>
							<h5 class="font-20 pt-10">Mobile Development</h5>
							<h6 class="font-13 font-w-6">
								<ul>
									<li>- React Native</li>
									<li>- Ionic Cordova PWA/Hybrid</li>
									<li>- App store & Play Store</li>
									<li>- Native UI and UX</li>
									<li>- Clean Architecture</li>
								</ul>
							</h6>
						</div>
					</div>
					<!-- Single Feature End -->
					<!-- Single Feature Start -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="feat p-25 bx-shadow"><i class="fa fa-code-fork font-45"></i>
							<h5 class="font-20 pt-15">QA Automation</h5>
							<h6 class="font-13 font-w-6">
								<ul>
									<li>- Selenium WebDriver, Appium</li>
									<li>- Mobile & Web Testing</li>
									<li>- API Backend Testing</li>
									<li>- Karma, Mocha, Chai, Protractor</li>
									<li>- Unit Testing</li>
								</ul>
							</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--About Us Start-->


<div class="clearfix"></div>

<!-- Start about-1-page-section area -->
<section id="about_1-area" class="about_1-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="about_1-area-section">
					<div class="col-md-6">
						<h3 class="pb-20 font-w-8 font-30 ln-h-30">Our mission is to get your project up and
							running!</h3>
						<p class="ln-h-30 font-w-6">With over 5 years experience in the software development field, we
							strive to reach the highest quality levels of services. </p>
						<p class="ln-h-30 font-w-6">Working us is like working with your own team. We value quality and
							communication above all. Having this mindset allows us to develop projects from start end,
							taking every story under the magnifying glass to find all the details. </p>
					</div>
					<div class="col-md-6"><img src="/img/about1.jpeg" class="img-responsive about-image1" alt="about salspot software" title="software development"></div>
				</div>
				<div class="clearfix"></div>
				<div class="about_1-area-section mt-40">
					<div class="col-md-6"><img src="/img/about2.jpeg" class="img-responsive abou-image2" alt="about salspot software" title="software development"></div>
					<div class="col-md-6">
						<h3 class="pb-20 font-w-8 font-30 pt-15">Get to know us!</h3>
						<p class="ln-h-30 font-w-6">We are an Agile company and we enjoy working with Scrum. We work in
							multiple iterations to get the product ready step by step. Our experience is built by
							developing web and mobile apps, cloud based
							architectures, and distributed systems. We have experience developing projects with both
							technical and non-technical clients, so don't be afraid to approach us with your idea, we
							can make it happen!</p>
						<p class="ln-h-30 font-w-6">Why choose Salspot? Because we offer proven trust and quality and
							because of our track record. Building complex web and mobile applications using
							microservices hosted in the cloud is our de facto. We offer consultancy on the project's
							technical architecture, marketing strategies, SEO & visibility. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="clearfix"></div>

<div class="color-bg-b center" id="how-we-work">
	<div class="container">
		<div class="col-md-12">
			<div class="row">
				<div class="image-content p-30">
					<h2 class="text-center ln-h-50 color-w font-w-8">How we work<br></h2>
					<p class="font-w-6 color-w">These are our steps for helping you launch a new product. We take care
						of the technical part, you do the rest!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="how_we_work-area" class="about_1-area">
	<div class="container">
		<div class="clearfix"></div>
	
		<div class="row how-we-work-details">

			<div class="col-md-4 how-we-work-card">
				<h2>01</h2>
				<div class="how-we-work-content">
					<h5>Define requirements</h5>
					<p>List the set of wanted functionality as specifications or user stories.</p>
				</div>

			</div>


			<div class="col-md-4 how-we-work-card">
				<h2>02</h2>
				<div class="how-we-work-content">

					<h5>Plan the Wireframe</h5>
					<p>Put together a graphic scheme showing app screens, content, and navigation.</p>
				</div>
			</div>


			<div class="col-md-4 how-we-work-card">
				<h2>03</h2>
				<div class="how-we-work-content">

					<h5>UI/UX Design</h5>
					<p>Add style and color to the wireframe. Apply branding, and design to obtain an all-round perfect
						user experience.</p>
				</div>
			</div>


			<div class="col-md-4 how-we-work-card">
				<h2>04</h2>
				<div class="how-we-work-content">

					<h5>Implementation</h5>
					<p>Write the code that will create the desired behaviors and UI as described in the
						requirements.</p>
				</div>

			</div>


			<div class="col-md-4 how-we-work-card">
				<h2>05</h2>
				<div class="how-we-work-content">

					<h5>Testing</h5>
					<p>Search, find and identify a list of issues to be fixed. Suggest improvements to constantly
						improve the user experience.</p>
				</div>

			</div>


			<div class="col-md-4 how-we-work-card">
				<h2>06</h2>
				<div class="how-we-work-content">

					<h5>Launch</h5>
					<p>Publish the app to the World Wide Web, App Store or Google Play so that it becomes widely
						available to its audience.</p>
				</div>

			</div>


		</div>


	</div>
</section>


<!--About Us End-->
<div class="clearfix"></div>

{{partial "portfolio" }}

<section class='homepage-map' id='map'></section>

<!-- Start Contact-section area -->
<section id="contact-us-section" class="contact-us-section pb-30">
	<div class="container">
		<!--Sec Title-->
		<div class="section-title m-0 pb-28">
			<h2 class="font-w-8 center"><span class="color">C</span>ONTACT US</h2>
			<p class="font-w-6 center">Drop us a line, we will get back to you in a few hours</p>
		</div>
		<div id="contact-us" class="section contact-us">
			<div class="container">
				<div class="outer-box">
					<div class="company-data">
						<ul class="row">
							<li class="col-md-4 col-sm-4 col-xs-12">
								<a href="mailto:office@salspot.com?Subject=New%20project%20proposal!">

									<div class="box"><span class="fa fa-map-marker"></span>Cluj-Napoca, Romania</div>
								</a>
							</li>
							<li class="col-md-4 col-sm-4 col-xs-12">
								<a href="mailto:office@salspot.com?Subject=New%20project%20proposal!">

									<div class="box"><span class="fa fa-phone"></span> +40 755 881 771</div>
								</a>
							</li>
							<li class="col-md-4 col-sm-4 col-xs-12">
								<a href="mailto:office@salspot.com?Subject=New%20project%20proposal!">
									<div class="box"><span class="fa fa-envelope"></span>
										office@salspot.com<br>

									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="form-box clearfix">
						<form id="contactform" data-toggle="validator" method="POST" name="contactform" netlify
							  class="shake scroll-reveal">
							<div class="form-group col-sm-6">
								<input type="text" class="form-control" id="name" name="name" placeholder="Your name"
									   required
									   data-error="Name missing">
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group col-sm-6">
								<input type="email" class="form-control" id="email" name="email"
									   placeholder="Your email" required>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group col-sm-12">
					<textarea id="message" name="message" class="form-control" rows="6"
							  placeholder="Write your message here" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="col-sm-12">
								<button class="btn" type="submit">Send Message</button>
								<div id="msgSubmit"></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{{ end }}
